<div class="p-apply">
    <div class="p-apply__inner l-inner">
        <ul class="p-apply__links">
            <li class="p-apply__link"><a href="#apply1">営業職</a></li>
            <li class="p-apply__link"><a href="#apply2">製造職</a></li>
            <li class="p-apply__link"><a href="#apply3">開発職</a></li>
            <li class="p-apply__link"><a href="#apply4">事務職（工場）</a></li>
            <li class="p-apply__link"><a href="#apply5">事務職（本社）</a></li>
            <li class="p-apply__link"><a href="#apply6">配送</a></li>
        </ul>
        <div class="p-apply__blocks">
            <div class="p-apply__block" id="apply1">
                <%- include('_p-applyBlock') %>
            </div>
            <div class="p-apply__block" id="apply2">
                <%- include('_p-applyBlock2') %>
            </div>
            <div class="p-apply__block" id="apply3">
                <%- include('_p-applyBlock3') %>
            </div>
            <div class="p-apply__block" id="apply4">
                <%- include('_p-applyBlock4') %>
            </div>
            <div class="p-apply__block" id="apply5">
                <%- include('_p-applyBlock5') %>
            </div>
            <div class="p-apply__block" id="apply6">
                <%- include('_p-applyBlock6') %>
            </div>
        </div>
    </div>
</div>