<div class="p-case">
    <div class="p-case__inner l-inner">
        <div class="p-case__title">
            <%- include('../component/_c-singleTitle',{
                title:'ピックアップ採用事例 ',
                subtitle:'CASE'
            }) %>
        </div>
        <div class="p-case__items">
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'01',
                    title:'コンフォートクールⓇ<br class="u-mobile">シリーズ',
                    text:'マスクやデニムなど、夏に暑さを感じる原因になりやすいアイテムに対して多く採用頂いています。 ',
                }) %>
            </div>
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'02',
                    title:'パラレヂンSTR-8',
                    text:'シワ加工として採用。伸張回復率を向上させる反発性を活かし、シワが付きにくい加工として見た目のキレイさを保ちます。 ',
                }) %>
            </div>
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'03',
                    title:'パラレヂンNCシリーズ<br>（防汚加工）',
                    text:'食品防汚目的として子供服にて採用。衣服のキレイな状態を保つことに加え、洗濯が楽になることで家事の時短にも繋がります。 ',
                }) %>
            </div>
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'04',
                    title:'パラゾールGH-908',
                    text:'本来はアクリルバインダーとして使用される事が多いですが、摩耗強度を向上させる目的での採用事例もあります。これにより、衣服の寿命を延ばすことも可能です。',
                }) %>
            </div>
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'05',
                    title:'アレルフレッシュⓇシリーズ<br>（抗アレルゲン加工）',
                    text:'大手自動車メーカーのオプションフロアマットとして採用されました。当社の商標もカタログ上でご使用頂きました。',
                }) %>
            </div>
            <div class="p-case__item">
                <%- include('../component/_c-box',{
                    number:'06',
                    title:'パラファインPHC-50<br>（弱酸性加工）',
                    text:'寝具（敷パッド、タオルケット、枕カバー）用として採用されました。汗をかいても生地上を弱酸性に保つことで肌にやさしく、また柔らかい風合いもご評価頂きました。  ',
                }) %>
            </div>
        </div>
    </div>
</div>