<div class="p-category">
    <div class="l-inner">
        <div class="p-category__company">
            <div class="p-category__head">
                <h2 class="p-category__title">company</h2>
            </div>
            <div class="p-category__columnCards">
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
            </div>
            <div class="p-category__btn">
                <a href="" class="c-btn --white">more</a>
            </div>
        </div>
        <div class="p-category__chemistry">
            <div class="p-category__head">
                <h2 class="p-category__title">chemistry</h2>
            </div>
            <div class="p-category__columnCards">
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
            </div>
            <div class="p-category__btn">
                <a href="" class="c-btn --white">more</a>
            </div>
        </div>
        <div class="p-category__fashion">
            <div class="p-category__head">
                <h2 class="p-category__title">fashion</h2>
            </div>
            <div class="p-category__columnCards">
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
            </div>
            <div class="p-category__btn">
                <a href="" class="c-btn --white">more</a>
            </div>
        </div>
        <div class="p-category__developmentStory">
            <div class="p-category__head">
                <h2 class="p-category__title">development story</h2>
            </div>
            <div class="p-category__columnCards">
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
            </div>
            <div class="p-category__btn">
                <a href="" class="c-btn --white">more</a>
            </div>
        </div>
        <div class="p-category__sustainable">
            <div class="p-category__head">
                <h2 class="p-category__title">sustainable</h2>
            </div>
            <div class="p-category__columnCards">
                <div class="p-category__columnCard">
                    <%- include('../component/_c-columnCard',{
                        tag:'true'
                    }) %>
                </div>
            </div>
            <div class="p-category__btn">
                <a href="" class="c-btn --white">more</a>
            </div>
        </div>
    </div>
</div>