<div class="p-company">
    <div class="p-comapny__inner l-inner">
        <div class="p-company__blocks">
            <div class="p-company__block">
                <div class="p-block">
                    <div class="p-block__content">
                        <div class="p-block__title">
                            <%- include('../component/_c-title',{
                                title:'メッセージ',
                                subtitle:'MESSAGE',
                                subColor:'green',
                                mainColor:'black',
                                modifier:'',
                                modifier2:'--small',
                            }) %>
                        </div>
                        <p class="p-block__text c-text">弊社は『快適住空間の創造』をミッションに掲げ、人の快適、地球の快適等それぞれの テーマに取り組み、考え続けています。創業時よりの特徴である「小回りの利く開発」 「自由なコミュニケーション環境」そして「産学を通じての社外との連携」を更に 進化させ、オンリーワン企業を日々目指しています。</p>
                        <div class="p-block__btn --left">
                            <%- include('../component/_c-btn',{
                                link:'#',
                                text:'詳しくみる'
                            }) %>
                        </div>
                    </div>
                    <picture class="p-block__img --left --sp-top">
                        <source srcset="./images/company/company_01.webp" type="image/webp">
                        <img src="./images/company/company_01.jpg" alt="メッセージ">
                    </picture>
                </div>
            </div>
            <div class="p-company__block">
                <div class="p-block">
                    <div class="p-block__content">
                        <div class="p-block__title">
                            <%- include('../component/_c-title',{
                                title:'企業理念',
                                subtitle:'MISSION',
                                subColor:'green',
                                mainColor:'black',
                                modifier:'',
                                modifier2:'--small',
                            }) %>
                        </div>
                        <p class="p-block__text c-text">
                            大原パラヂウム化学は、<br>
                            「サスティナブルな製品開発」を<br>
                            将来に向けて進めます。
                        </p>
                        <div class="p-block__btn --left">
                            <%- include('../component/_c-btn',{
                                link:'#',
                                text:'詳しくみる'
                            }) %>
                        </div>
                    </div>
                    <picture class="p-block__img --sp-top">
                        <source srcset="./images/company/company_02.webp" type="image/webp">
                        <img src="./images/company/company_02.jpg" alt="メッセージ">
                    </picture>
                </div>
            </div>
            <div class="p-company__block">
                <div class="p-block">
                    <div class="p-block__content">
                        <div class="p-block__title">
                            <%- include('../component/_c-title',{
                                title:'会社概要',
                                subtitle:'company INFO',
                                subColor:'green',
                                mainColor:'black',
                                modifier:'',
                                modifier2:'--small',
                            }) %>
                        </div>
                        <p class="p-block__text c-text">大原パラヂウム化学の会社概要をご紹介致します。</p>
                        <div class="p-block__btn --left">
                            <%- include('../component/_c-btn',{
                                link:'#',
                                text:'詳しくみる'
                            }) %>
                        </div>
                    </div>
                    <picture class="p-block__img --left --sp-top">
                        <source srcset="./images/company/company_03.webp" type="image/webp">
                        <img src="./images/company/company_03.jpg" alt="研究の画像">
                    </picture>
                </div>
            </div>
            <div class="p-company__block">
                <div class="p-block">
                    <div class="p-block__content">
                        <div class="p-block__title">
                            <%- include('../component/_c-title',{
                                title:'歴史',
                                subtitle:'HISTORY',
                                subColor:'green',
                                mainColor:'black',
                                modifier:'',
                                modifier2:'--small',
                            }) %>
                        </div>
                        <p class="p-block__text c-text">
                            大原パラヂウム化学の歴史をご紹介致します。
                        </p>
                        <div class="p-block__btn --left">
                            <%- include('../component/_c-btn',{
                                link:'#',
                                text:'詳しくみる'
                            }) %>
                        </div>
                    </div>
                    <picture class="p-block__img --sp-top">
                        <source srcset="./images/company/company_04.webp" type="image/webp">
                        <img src="./images/company/company_04.jpg" alt="研究の画像">
                    </picture>
                </div>
            </div>
            <div class="p-company__block">
                <div class="p-block">
                    <div class="p-block__content">
                        <div class="p-block__title">
                            <%- include('../component/_c-title',{
                                title:'主な事業所・<br class="u-mobile">ネットワーク',
                                subtitle:'Office・NETWoRK',
                                subColor:'green',
                                mainColor:'black',
                                modifier:'',
                                modifier2:'--small',
                            }) %>
                        </div>
                        <p class="p-block__text c-text">大原パラヂウム化学の事業所およびネットワークをご紹介致します。</p>
                        <div class="p-block__btn --left">
                            <%- include('../component/_c-btn',{
                                link:'#',
                                text:'詳しくみる'
                            }) %>
                        </div>
                    </div>
                    <picture class="p-block__img --left --sp-top">
                        <source srcset="./images/company/company_05.webp" type="image/webp">
                        <img src="./images/company/company_05.jpg" alt="研究の画像">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>