<div class="p-eco">
    <div class="p-eco__inner l-inner">
        <h2 class="p-eco__title">
            <img src="./images/sustainability/eco_title.svg" alt="sustainbale echo finish">
        </h2>
        <p class="p-eco__lead c-text">
            Sustainable ECO Finish とは、弊社が取り組んでいる地球環境に配慮した加工剤、加工処方の総称です。<br>
            現在のペースで資源を消費し続ける社会では、人類が地球上で生きていくことが困難な時代が来ると予測されている今、<br>
            サスティナブル（持続可能）というテーマに多くの人や企業が取り組んでいます。<br>
            私たちは早くから、環境的に持続可能なモノ・コトでなければ、社会的にも持続可能にはなりえないという理念の下、<br>
            「Sustainable Development （持続可能な開発）」を心掛け、これからの未来に向けた感動製品の開発に取り組んでいます。
        </p>
        <ul class="p-eco__lists">
            <li class="p-eco__list">
                <picture class="p-eco__logo --1">
                    <source srcset="./images/sustainability/x-bio.webp" type="image/webp" />
                    <img src="./images/sustainability/x-bio.png" alt="X-Bio">
                </picture>
                <p class="p-eco__text c-text">
                    バイオ化度50%という厳しい基準をクリアした繊維加工剤
                </p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
            <li class="p-eco__list">
                <picture class="p-eco__logo --2">
                    <source srcset="./images/sustainability/sanchishiru.webp" type="image/webp" />
                    <img src="./images/sustainability/sanchishiru.png" alt="サンチシル">
                </picture>
                <p class="p-eco__text c-text">
                    各地に潜んだ魅力ある材料を繊維製品としてアップサイクル。地方創生も担う。
                </p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
            <li class="p-eco__list">
                <picture class="p-eco__logo --3">
                    <source srcset="./images/sustainability/sef.webp" type="image/webp" />
                    <img src="./images/sustainability/sef.png" alt="SEFシリーズ">
                </picture>
                <p class="p-eco__text c-text">
                    人にも地球にもやさしく、原料が枯渇しにくいフッ素フリーの撥水加工剤
                </p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
            <li class="p-eco__list">
                <picture class="p-eco__logo --4">
                    <source srcset="./images/sustainability/surtic.webp" type="image/webp" />
                    <img src="./images/sustainability/surtic.png" alt="surtic">
                </picture>
                <p class="p-eco__text c-text">
                    本来廃棄される天然シトラス原料を用いた衛生加工剤
                </p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
            <li class="p-eco__list">
                <picture class="p-eco__logo --5">
                    <source srcset="./images/sustainability/a.webp" type="image/webp" />
                    <img src="./images/sustainability/a.png" alt="aシリーズ">
                </picture>
                <p class="p-eco__text c-text">
                    液流染色機で使用可能なアミノシリコン柔軟剤
                </p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
            <li class="p-eco__list">
                <picture class="p-eco__logo --6">
                    <source srcset="./images/sustainability/andmore.webp" type="image/webp" />
                    <img src="./images/sustainability/andmore.png" alt="andmore">
                </picture>
                <p class="p-eco__text c-text u-desktop"></p>
                <div class="p-eco__btn">
                    <%- include('../component/_c-btn',{
                        link:'#',
                        text:'PDF',
                        size:'small'
                    }) %>
                </div>
            </li>
        </ul>
    </div>
</div>