<div class="p-subMv">
    <div class="p-subMv__inner l-inner">
        <div class="p-subMv__wrap">
            <hgroup class="p-subMv__title">
                <p class="p-subMv__en"><%- subtitle %></p>
                <h1 class="p-subMv__ja"><%- title %></h1>
            </hgroup>
            <picture class="p-subMv__img">
                <source srcset="./images/common/subMv_<%= img %>.webp" type="image/webp" />
                <img src="./images/common/subMv_<%= img %>.png" alt="<%- title %>">
            </picture>
        </div>
    </div>
</div>