<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
    <body>
        <header class="l-header">
            <%- include('./common/_p-header') %>
        </header>
        <main>
            <section class="l-mv">
                <%- include('./project/_p-mv') %>
            </section>
            <section class="l-topAbout">
                <%- include('./project/_p-topAbout') %>
            </section>
            <section class="l-topNews">
                <%- include('./project/_p-topNews') %>
            </section>
            <section class="l-topColumn">
                <%- include('./project/_p-topColumn') %>
            </section>
            <section class="l-topCompany">
                <%- include('./project/_p-topCompany') %>
            </section>
            <section class="l-topService">
                <%- include('./project/_p-topService') %>
            </section>
            <section class="l-topSustainability">
                <%- include('./project/_p-topSustainability') %>
            </section>
            <section class="l-topResearch">
                <%- include('./project/_p-topResearch') %>
            </section>
            <section class="l-topRecruit">
                <%- include('./project/_p-topRecruit') %>
            </section>
            <section class="l-bottomContact">
                <%- include('./project/_p-bottomContact') %>
            </section>
        </main>
        <footer class="l-footer">
            <%- include('./common/_p-footer') %>
        </footer>
    </body>
</html>
