<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
    <body>
        <header class="l-header">

        </header>
        <main>
            <section class="l-subMv">
                <%- include('./project/_p-subMv',{
                    title:'PCP/MOF',
                    subtitle:'porous material',
                    img:'service'
                }) %>
            </section>
            <div class="l-breadcrumb">
                <div class="p-breadcrumb">
                    <div class="p-breadcrumb__inner l-inner">
                        <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a itemprop="item" href="#">
                                    <span itemprop="name">トップ</span>
                                </a>
                                <meta itemprop="position" content="1" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <a itemprop="item" href="#">
                                    <span itemprop="name">事業紹介</span>
                                </a>
                                <meta itemprop="position" content="2" />
                            </li>
                            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                <span itemprop="name">PCP/MOF</span>
                                <meta itemprop="position" content="3" />
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <section class="l-pcpAbout l-section">
                <%- include('./project/_p-pcpAbout') %>
            </section>
            <section class="l-bcave">
                <%- include('./project/_p-bcave') %>
            </section>
            <section class="l-business">
                <%- include('./project/_p-business') %>
            </section>
            <section class="l-viewCase">
                <%- include('./project/_p-viewCase') %>
            </section>
            <section class="l-bottomContact">
                <%- include('./project/_p-bottomContact') %>
            </section>
        </main>
        <footer class="l-footer">
            <%- include('./common/_p-footer') %>
        </footer>
    </body>
</html>
