<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
    <body>
        <header class="l-header">
            <%- include('./common/_p-column-header') %>
        </header>
        <main>
            <section class="l-single">
                <%- include('./project/_p-single2') %>
            </section>
            <section class="l-tagList">
                <%- include('./project/_p-tagList') %>
            </section>
            <section class="l-bottomContact">
                <%- include('./project/_p-bottomContact') %>
            </section>
        </main>
        <footer class="l-footer">
            <%- include('./common/_p-footer') %>
        </footer>
    </body>
</html>
