<hgroup class="c-title">
    <p class="c-title__sub --<%= subColor %> <% if (typeof modifier !== 'undefined'){ %><%= modifier %><% } %>"><%= subtitle %></p>
    <h2 class="c-title__main --<%= mainColor %> <% if (typeof modifier2 !== 'undefined'){ %><%= modifier2 %><% } %>"><%- title %></h2>
</hgroup>